<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">PrasadEcom is a Maharashtian e-commerce company headquartered in Maharashtra, India. It was founded by Prasad Chaskar in 2020. The company initially focused on book sales of Laptops, before expanding into other product categories such as consumer hp laptops,Dell Laptops Acer Laptops,Asus Laptops,Lenovo laptops..</p>
          
        </div>
      </div>
</body>
</html>